packages: 
  yum:
    mysql-server: []
    nmap: []
commands:
  01_mysql:
    command: /etc/init.d/mysqld start
container_commands:
  01_cp:
    command: cp config/OpenPNE.yml.sample config/OpenPNE.yml
    command: cp config/ProjectConfiguration.class.php.sample config/ProjectConfiguration.class.php
  02_backupdb:
    command: mysqladmin -u root -f drop DUMP || mysqladmin -u root create DUMP  
    command: mysqldump -u root --add-drop-database OPENPNE | mysql -u root DUMP
  03_opinst:
    command: ./symfony openpne:fast-install --dbms=mysql --dbuser=root --dbpassword= --dbhost=localhost --dbname=OPENPNE >> /tmp/openpne.log 2>&1
  04_restoredb:
    command: mysqladmin -u root -f drop OPENPNE && mysqladmin -u root create OPENPNE
    command: mysqldump -u root --add-drop-database DUMP | mysql -u root OPENPNE
