packages: 
  yum:
    mysql-server: []
    nmap: []
container_commands:
  01_cp:
    command: cp config/OpenPNE.yml.sample config/OpenPNE.yml
  02_cp:
  	command: cp config/ProjectConfiguration.class.php.sample config/ProjectConfiguration.class.php
  03_cp:
    command: ./symfony openpne:fast-install --dbms=mysql --dbuser=$RDS_USERNAME --dbpassword=$RDS_PASSWORD --dbhost=$RDS_HOSTNAME --dbport=$RDS_PORT --dbname=$RDS_DB_NAME --dbsock=/tmp/mysql.sock --internet
