packages: 
  yum:
    mysql-server: []
    nmap: []
commands:
  01_mysql:
    command: /etc/init.d/mysqld start
container_commands:
  01_cp:
    command: cp config/OpenPNE.yml.sample config/OpenPNE.yml
  02_cp:
    command: cp config/ProjectConfiguration.class.php.sample config/ProjectConfiguration.class.php
  03_opinst:
    command: if [ ! -e /var/lib/mysql/OPENPNE ]; then ./symfony openpne:fast-install --dbms=mysql --dbuser=root --dbpassword= --dbhost=localhost --dbname=OPENPNE >> /tmp/openpne.log 2>&1 ; fi
